// Fill out the credentials of your local WiFi Access Point
const char *  wifiSsid              = ""; // Your WiFi network SSID name
const char *  wifiPassword          = ""; // Your WiFi network password
// Fill out the credentials of your ThingSpeak channel
unsigned long thingspeakChannelId   = 0; // Your ThingSpeak Channel ID
const char *  thingspeakWriteApiKey = ""; // Your ThingSpeak write api key
char auth[] = ""; // Blynk
